<div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Employee C.V</div>
        <div class="panel-body">
            <p>There is where an employee can enter his different c.v options</p>
            <button class="btn btn-info">Submit C.V Fields</button>

        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <th>Field Name</th>
            <th>Field Options</th>
            </thead>
            <tbody>

            <tr ng-repeat="opt in employeeOptions">
                <td class="text-center">{{opt.name | uppercase}}</td>
                <td>
                    <div class="col-xs-4" ng-if="opt.options">
                        <input class="form-control" type="text" ng-model="opt.options" ng-list="">
                    </div>
                    <div class="col-xs-4" ng-if="!opt.options">
                        <input class="form-control" type="text" ng-model="opt.value">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->