<div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Employee C.V</div>
        <div class="panel-body">
            <p>This is where admin can edit the c.v fields</p>
            <button class="btn btn-info">Some Button</button>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <th class="text-center">Field Name</th>
            <th>Field Type</th>
            <th>Min Value</th>
            <th>Max Value</th>
            <th>Field Options</th>
            </thead>
            <tbody>

            <tr ng-repeat="opt in fieldNames">
                <td class="text-center">{{opt | uppercase}}</td>
                <td>
                    <div class="col-xs-5">
                        <input class="form-control col-xs-3" placeholder="Desired value" type="text"
                               ng-model="bestFit[opt]">
                    </div>
                </td>
                <td>
                    <div class="col-xs-5">
                        <input class="form-control col-xs-3" placeholder="Enter weight..." type="text"
                               ng-model="weights[opt]">

                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</div> <!-- /container -->