<div class="container">

    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading">Employee C.V</div>
        <div class="panel-body">
            <p>There is where an employee can enter his different c.v options</p>
        </div>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <th>Field Name</th>
            <th>Field Options</th>

            </thead>
            <tbody>
            <tr>
                <td>Name 1</td>
                <td>Value 1</td>
            </tr>
            <tr>
                <td>Name 2</td>
                <td>Value 2</td>
            </tr>
            </tbody>

        </table>

    </div>

</div> <!-- /container -->